.player{
    background-color: #343a40;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 5px;
}

audio {
    color: #343a40;
    filter: sepia(90%) saturate(90%) grayscale(0) contrast(99%) invert(1%);
    width: 100%;
}

#caption{
    color: rgb(223, 145, 0);
    font-size: x-large;
    font-family: 'Helvetica Neue';
    font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
    margin: 10px 20px;
}