.library{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    background-color: #b1b1b16e;
    overflow: scroll;
}

.library::-webkit-scrollbar {
    width: 1em;
}
 
.library::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.library::-webkit-scrollbar-thumb {
  background-color: rgb(41, 41, 41);
  outline: 1px solid slategrey;
}

.collection{
    width: 100%;
}

#frame{
    background-color: rgb(52, 58, 64) ;
    height: fit-content;
}