* {
    margin: 0px;
    padding: 0px;
}

#song-frame{
    display: flex;
    background-color: #b1b1b16e;
}

#song-item{
    flex: 1 1 100%;
    color:black;
    background-color: #b1b1b16e;
    border: none;
}

#song-item:hover{
    background-color: #b1b1b1d5;
}