.main {
  display: flex;
  box-sizing: border-box;
}

.visualizer {
  background-color: lightgreen;
  flex: 1 1 70vh;
  height: 100vh;
}

.media-player {
  background-color: rgb(250, 250, 250);
  display: flex;
  height: 100vh;
}

