h1 {
    color:rgb(77, 45, 45);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

p {
    color:rgb(77, 45, 45);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.my-button {
    text-align: center;
}

h5 {
    color:darkorange;
    text-align: center;
}

#box {
    max-width: 700px;
    min-height: 100vh;
    background-color: lightgray;
}

#library {
    background-color: Gainsboro;
    max-height: 400px;
    overflow: auto;
}

#player {
    background-color: Gainsboro;
}

#canvas{
    min-height: 300px;
}

#novisualizer{
    max-height:0;
}