
.root {
  float: right;
  margin-left: auto; 
  margin-right: 0;
  position:absolute; 
  top:0; 
  right:0;
}

.slider-show {
  float: left;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: 2px solid rgb(189, 189, 189);
  background-color: rgb(250, 250, 250);
}

.slider-hide {
  float: left;
  -webkit-transform: translateX(100%);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: 2px solid rgb(189, 189, 189);
  background-color: rgb(250, 250, 250);
}

.button {
  float: left;
  -webkit-transform: translateX(-100%);
  background-color: rgb(250, 250, 250);
}